/* .cart {
  padding: 20px;
}

.cart h2 {
  font-size: 1.5em;
  color: #1e90ff; 
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.cart li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.cart li div {
  flex-grow: 1;
}

.cart li h3 {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #1e90ff; 
}

.cart li p {
  margin: 0 0 10px;
  color: #555;
}

.cart li button {
  padding: 5px 10px;
  border: none;
  background-color: #1e90ff; 
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.cart li button:hover {
  background-color: #1c86ee; 
} */