body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light blue background */
}

.app {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e90ff; /* Dodger Blue */
  color: white;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon svg {
  color: white;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.product-item img {
  width: 100%; /* Ensure images take up full width */
  height: 200px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Ensure images cover the area */
  border-radius: 10px;
}

.product-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #1e90ff; /* Dodger Blue */
}

.product-item p {
  font-size: 0.9em;
  color: #555;
  height: 60px; /* Set a fixed height for descriptions */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item h4 {
  font-size: 1.1em;
  color: #333;
}

.product-item button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #1e90ff; /* Dodger Blue */
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-item button:hover {
  background-color: #1c86ee; /* Slightly darker blue */
}